.hamburger {

    &__line {
        @apply absolute transform h-0.5;

        &--initial {
            @apply left-1 w-6 bg-white;
            transition: width .3s ease-in-out 0s, background .3s ease-in-out;

            &:nth-child(1) {
                transition: width .3s ease-in-out .3s, background .3s ease-in-out;
            }

            &:nth-child(2) {
                transition: width .3s ease-in-out .5s, background .3s ease-in-out;
            }

            .header.menu-is-active & {
                @apply w-0;
                transition: width .3s ease-in-out 0s, background .3s ease-in-out;
            }
        }

        &--cross {
            @apply left-1/2 bg-white top-1/2 -translate-y-1/2 -translate-x-1/2 w-0;
            transition: width .3s ease-in-out 0s, background .3s ease-in-out;

            .menu-is-active & {
                @apply w-6;
                transition: width .3s ease-in-out .4s, background .3s ease-in-out;
            }
        }
    }
}